@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&display=swap");

:root{
    --cor-primaria: #1D112A;
    --cor-secundaria: #eeeef0;
    --cor-tercearia: #B2B3BD;

    --fonte-primaria: "Rosarivo", cursive;
    --font-secundaria: serif;
    --fonte-tercearia: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding:0;
}

body {   
    background-color: var(--cor-primaria); 
}

.apresentacao-conteudo-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0% 5% 0%; 
    gap: 20px;  

}
.apresentacao-conteudo-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0% 5% 0%; 
    gap: 100px;
}

.apresentacao-conteudo-titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--cor-secundaria);
    letter-spacing: 3.24px;
}

.apresentacao-conteudo-paragrafo {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    padding: 0% 20% 0% 20%;
    text-align: center;
}

.cards-horizotal {
    gap: 20px;
    display: flex;
  }
  

.card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}


.card-1 {
    justify-content: center;
    align-items: center;
    width: 30vh; 
    height: 30vh;  
    background-color: var(--cor-tercearia); 
    border-radius: 40px; 
    margin-bottom: 15px; 
    aspect-ratio: 1;
}

.avatar {
    margin-top: -25%;
    object-fit: auto;
    object-position: center;
    aspect-ratio: 0.8 / 1;
    width: 100%;
    height: auto;
  }

.nome-dev {
    color: var(--cor-secundaria);
    margin-top: 1px;
    font-family: var(--cor-tercearia); 
}

.info-dev {
    color: var(--cor-secundaria);
    text-align: center;
    margin-top: 10px;
    font-family: var(--cor-secundaria);
}

.social-links {
    justify-content: flex-end;
    display: flex;
    margin-top: 10px;
    gap: 16px;
  }

.social-icon{
    margin-top: 1px;
    object-fit: auto;
    object-position: center;
}

@media (max-width: 1500px) {
    .cards-horizotal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 80px 15px;
    }
}

@media (max-width: 1100px) {
    .card-1 {
        width: 23vh;
        height: 23vh;
        }
}
@media (max-width: 850px) {
    .card-1 {
        width: 21vh;
        height: 21vh;
    }
    .cards-horizotal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 15px;
    }
    
}

@media (max-width: 600px) {
    .apresentacao-conteudo-titulo {
        padding: 5%;
        font-size: 2rem;
    }

    .apresentacao-conteudo-paragrafo{
        padding: 0% 5% 20% 5%;
        font-size: 1rem;
    }
    .apresentacao-conteudo-1{
        width: 100%  
    }
    .apresentacao-conteudo-2 {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .cards-horizotal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px 15px;
    }
    .card-1 {
    width: 20vh;
    height: 20vh;
    }
    .nome-dev {
        margin-top: 0px;
        font-size: 1rem;
        /* font: 700 24px/110% Roboto, sans-serif;  */
    }
    
    .info-dev {
        font-size: 0.8rem;
        /* font: 400 18px/140% Roboto, sans-serif; */
    }
    

}

